.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  padding-bottom: 40px;
}

code {
  padding: 3px;
  background-color: black;
  color: #FFFFFF;
  border-radius: 10px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}